body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

/* NAVIGATION BAR */
.navbar-brand {
  padding: 0;
  margin: 0;
}

.nav-link {
  font-weight: 700;
  color: grey;
  opacity: 0.8;
  transition: 0.3s;
  padding: 0, 5px;
}

.navbar-text {
  padding-left: 50px;
  font-size: 0.9rem;
  color: black;
}

.nav-link:hover {
  opacity: 1;
  color: black;
}

.owl-dots {
  height: 0px;
}

/* BODY SECTIONS */
section {
  position: relative;
}

.demo a {
  position: absolute;
  bottom: 150px;
  left: 48%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.demo a:hover {
  opacity: 0.5;
}

#section10 a {
  padding-top: 60px;
}

#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

.about {
  background: #ffffff;
  text-align: center;
}

.about h1,
h3 {
  text-align: center;
  padding-bottom: 0.5rem;
}

#aboutSection {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

#fleetSection {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

#galerySection {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.fleet {
  background-image: url("../img/keith.jpg");
  background-attachment: fixed;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fleet-text {
  padding-top: 2em;
  text-align: center;
  color: #ffffff;
}

.transbox {
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
}

.fleet img {
  display: block;
  overflow: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* GALERY */
.gallery {
  background: #ffffff;
  text-align: center;
}

.gallery-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.compact-gallery .item {
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  background-position: 0% 30%;
  opacity: 1;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-block.compact-gallery .item .image {
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info {
  position: relative;
  display: inline-block;
}

.gallery-block.compact-gallery .item .description {
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
  color: #fff;
  transition: 0.8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading {
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body {
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

.contact img {
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

#footer {
  background-color: #11213d;
  color: #ffffff;
  font-size: 0.9rem;
}

#footer a {
  color: #ffffff;
  transition: 0.3s;
}

#footer a:hover {
  color: #878787;
  text-decoration: none;
}

.deep-purple {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #00000000, #740ba8, #00000000);
}

#madeby {
  font-size: 0.6rem;
  opacity: 0.7;
}

#fleetImg {
  padding-top: 50px;
}

#second {
  margin: 0;
}

@media (min-width: 576px) {
  .gallery-block.compact-gallery .item .description {
    opacity: 0;
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1;
  }

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 360px) {
  #navlogo {
    width: 100%;
  }

  .navbar-brand {
    width: 75%;
  }
}

@media only screen and (max-width: 1230px) {
  .navbar-text {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  #top {
    display: block;
    height: 87px;
    visibility: hidden;
  }

  #aboutSection {
    display: block;
    height: 50px;
    visibility: hidden;
  }

  #fleetSection {
    display: block;
    height: 30px;
    visibility: hidden;
  }
}

@media only screen and (max-width: 992px) {
  .fleet img {
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  #footer {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  #footer {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1650px) {
  .demo a {
    bottom: 75px;
  }
}

@media only screen and (max-width: 1500px) {
  .demo a {
    bottom: 50px;
  }
}

@media only screen and (max-width: 1400px) {
  .demo a {
    visibility: hidden;
  }
}
